.App {
  /* background-image: url('https://source.unsplash.com/random'); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 1000px;
  margin: auto;
}

.App-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-title h1 {
  margin: 0;
  margin-right: 20px;
  font-size: 3em;
}

/* 
.vertical-center {
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
} */

/* #ballPool {
  height:801px; 
  overflow:visible; 
  padding:0; 
  position:relative;
}

.ballPool-ball {
    background-color: #91e600;
    text-align: center;
    width: 196px;
    height: 100px;
    line-height: 100px;
    color: black;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
} */