:root {
    --width: 1100px;
    --height: 400px;

    --todolist_width: 700px;
}

.outside__box {
    display: flex;
    flex-direction: column;
}

.inside__box1 {
    display: flex;
    flex-direction: row;
}

.todolist__root {
    border-width: 3px;
    border-style: solid;
    border-color: blueviolet;
    height: var(--height);
    width: var(--todolist_width);
}

.calendar__root {
    border-width: 3px;
    border-style: solid;
    border-color: blue;
    height: var(--height);
    width: calc(var(--width) - var(--todolist_width));
}

.record__root {
    border-width: 3px;
    border-style: solid;
    border-color: yellowgreen;
    height: var(--height);
    width: var(--width);
}

.linkbar__root {
    border-width: 3px;
    border-style: solid;
    border-color: red;
    height: var(--height);
    width: var(--width);
}